@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anton&family=Archivo+Black&family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anton&family=Archivo+Black&family=Baumans&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anton&family=Archivo+Black&family=Baumans&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: 'Poppins', sans-serif;
  color: #000;
  /* cursor: none; */
}

.swiper-pagination-bullet {
  z-index: 1000;
  position: relative;
  background-color: white !important;
}

::-webkit-scrollbar {
  display: none;
}

.mySwiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .mySwiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    transform: scale(1);
  }
}

.mySwiper .swiper-pagination {

  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .mySwiper .swiper-pagination {

    display: flex;
    flex-direction: column;
    gap: 0px;
  }

}


@media (max-width: 422px) {
  .toper {
    position: relative;
    top: 90px;

  }

}

@media (max-width: 422px) {
  .texts {
    position: relative;
    padding-top: 110px;

  }

}

.swiper-pagination .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #fff;
  opacity: 0.2;
  transition: all 0.3s;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

.swiper-pagination-bullet-active {
  background-color: #00B85F !important;
}


.swiper-pagination-bullet:nth-child(1) {
  color: #fff;
  background-color: #00B85F !important;
}


.swiper-pagination-bullet:nth-child(2) {
  background-color: #F8BE14 !important;
}

.swiper-pagination-bullet:nth-child(3) {
  background-color: #00B85F !important;
}

.swiper-pagination-bullet:nth-child(4) {
  background-color: #FC9D4A !important;
}


.swiper-pagination-bullet:nth-child(5) {
  background-color: #E63D3D !important;
}


.swiper-pagination-bullet:nth-child(6) {
  background-color: #FF0000 !important;
}

.swiper-pagination-bullet:nth-child(7) {
  background-color: #00B453 !important;
}

.swiper-pagination-bullet:nth-child(8) {
  background-color: #D89C5C !important;
}

.swiper-pagination-bullet:nth-child(9) {
  background-color: #40A44C !important;
}

/* star */

/* .star {
  --size: 1vmin;
  --holes: calc(var(--size) * 0.495);
  width: var(--size);
  aspect-ratio: 1 / 1;
  position: fixed;
  background: white;
  --mask: radial-gradient(var(--holes) at var(--holes) var(--holes),
      #0000 99%,
      #000) calc(var(--holes) * -1) calc(var(--holes) * -1);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border-radius: 50%;
  animation: sparkle 3s linear forwards;
} */

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

html {
  background: #112;
  min-height: 100vh;
}








body {
  background-image: url('/assets/images/background/Backimages.png');


}

/* running container */



/* .box{
  width:100%;
  height:100px;
  background:#000;
}

  */

/* .left-right-up-down {
  animation: left-right-up-down 10s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes left-right-up-down {
  0% {
    transform: translate(0px, 40px);
  }
  25% {
    transform: translate(50px, 60px);
  }
  50% {
    transform: translate(100px, 25px);
  }
  75% {
    transform: translate(150px, 60px);
  }
  100% {
    transform: translate(200px, 40px);
  }
} */


/* Left to right with up and down motion */
.left-right-up-down {
  animation: left-right-up-down 5s linear infinite;
  transform-origin: 50% 50%;
}
 
@keyframes left-right-up-down {
  0% {
    transform: translateX(-100%) translateY(40px); 
  }

  25% {
    transform: translateX(25vw) translateY(60px); 
  }

  50% {
    transform: translateX(50vw) translateY(25px); 
  }

  75% {
    transform: translateX(75vw) translateY(60px); 
  }

  100% {
    transform: translateX(100vw) translateY(40px); 
  }
}
 
.up-down {
  animation: up-down 3s linear infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(-15px); 
  }

  50% {
    transform: translateY(50px); 
  }

  100% {
    transform: translateY(-15px); 
  }
}

/* Animation for moving down to up */
.down-up {
  animation: down-up 3s linear infinite;
}

@keyframes down-up {
  0% {
    transform: translateY(50px); 
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(50px);
  }
}
 


/* Customizing the scrollbar */
.kiranaa ::-webkit-scrollbar {
  width: 15px;
  /* Width of the vertical scrollbar */
  height: 12px;
  /* Height of the horizontal scrollbar */
}

.kiranaa ::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color (background of the scrollbar) */
}

.kiranaa ::-webkit-scrollbar-thumb {
  background: #00B75E;
  /* Color of the draggable part of the scrollbar */
  border-radius: 10px;
  /* Optional: Make the thumb rounded */
}

.kiranaa ::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the thumb on hover */
}

.kiranaa ::-webkit-scrollbar-button {
  background: #00B75E;
  /* Color of the buttons (up/down) */
}

.kiranaa ::-webkit-scrollbar-button:hover {
  background: #00B75E;
  /* Color on hover for buttons */
}

/* button-animate */


.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow:
    -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.4),
    4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

.btn-6:hover {
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}

.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}

.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow:
    -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.4),
    4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

.btn-6 span:hover:before {
  width: 100%;
}

.btn-6 span:hover:after {
  width: 100%;
}


/* phone shake */

.movess {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* animate-scroll */


/* .animate-autoscroll {
	display: block;
	width: 300px;
	overflow: hidden;
	position: relative;
	border: 2px solid #b3b3b3;
	border-radius: 1px;
	margin: 0 auto;
  animation: autoscroll 11s linear ;
}

.animate-autoscroll img {
	bottom: -1210px;
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
  margin:0;
  padding:0;
	-webkit-transition: top 11s;
	-moz-transition: top 11s;
	-ms-transition: top 11s;
	-o-transition: top 11s;
	transition: bottom 11s;
}
.animate-autoscroll:hover img {
  bottom: 0;
  -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s;
  transition: all 11s;
} */


@keyframes autoscroll {
  from {
    top: 0;
  }

  to {
    top: -7060px;
  }
}

.animate-autoscroll {
  display: block;
  width: 310px;
  height: 540px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 770px) {
  .animate-autoscroll {
    display: block;
    width: 293px;
    height: 540px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
}




.animate-autoscroll img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  top: 0;
  animation: autoscroll 35s linear forwards;

}

.animate-autoscroll img:hover {
  animation-play-state: paused;
}


.sparkling-star {
  animation: sparkles 4s infinite, rotate 4s infinite linear;
  transform-origin: center;
}

@keyframes sparkles {

  0%,
  100% {
    transform: scale(1);
    filter: brightness(1);
  }

  50% {
    transform: scale(1.2);
    filter: brightness(1.2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}





.image-scroll-container {
  overflow: hidden;
  /* Hide overflowing content */
  white-space: nowrap;
  /* Prevent wrapping */
  width: 100%;
  /* Full width container */
  position: relative;
  /* Position for alignment */
}

.image-scroll {
  display: inline-flex;
  /* Keep images in a row */
  animation: scroll-left 20s linear infinite;
  /* Apply animation */
}

.image-scroll img {
  flex-shrink: 0;
  /* Prevent images from shrinking */
  width: auto;
  /* Maintain image aspect ratio */

  margin-right: 20px;
  /* Spacing between images */

}

/* Keyframes for infinite scroll */
@keyframes scroll-left {
  from {
    transform: translateX(0);
    /* Start from the initial position */
  }

  to {
    transform: translateX(-100%);
    /* Move to the left */
  }
}



/* swirl effect */


/* .background{

   animation: mate 10s linear infinite;
}



@keyframes mate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.background span{
  position: absolute;
  width: 500px;
  height: 150vh;
  transform: translate(-50%, -50% ) rotate(calc(30deg * var(--i)));
  transform-origin: bottom right;
}
.background span::before{
  content: "";
  position: absolute;
  border-bottom-left-radius:500px ;
  box-shadow: -90px -90px 0 89.5px #ff0954;

} */

/*


.key{
  animation: keys 10s linear infinite;
}

@keyframes keys{
  0%{
    transform: translate(0%);
  }
  50%{
    transform: translate(100%);
  }

  100%{
    transform: translate(-100%);
  }
} */






/* own button  */



.over {
  position: relative;
  top: 0;
  left: 0;
  background-color: wheat;
  transform-origin: bottom right;

}

.over::before {
  position: absolute;
  background-color: #00B453;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotate(90deg);

}





/* 3d carousel */



#section-wrapper {
  width: 100%;
  padding: 10px;
}

.box-wrapper {
  position: relative;
  display: table;
  width: 1100px;
  margin: auto;
  margin-top: 35px;
  border-radius: 30px;
}

.info-wrap {
  width: 35%;
  height: 551px;
  padding: 40px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
  background: linear-gradient(144deg, rgba(126, 39, 156, 1) 0%, rgba(49, 39, 157, 1) 49%);
  color: #fff;
}

.info-title {
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.info-sub-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
}

.info-details {
  list-style: none;
  margin: 60px 0px;
}

.info-details li {
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
}

.info-details li i {
  background: #F44770;
  padding: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.info-details li a {
  color: #fff;
  text-decoration: none;
}

.info-details li a:hover {
  color: #F44770;
}

.social-icons {
  list-style: none;
  text-align: center;
  margin: 20px 0px;
}

.social-icons li {
  display: inline-block;
}

.social-icons li i {
  background: #F44770;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  border-radius: 22%;
  margin: 0px 5px;
  cursor: pointer;
  transition: all .5s;
}

.social-icons li i:hover {
  background: #fff;
  color: #000000;
}

.form-wrap {
  width: 65%;
  float: right;
  padding: 40px 25px 35px 25px;
  border-radius: 0px 30px 30px 0px;
  background: #ecf0f3;
}

.form-title {
  text-align: left;
  margin-left: 23px;
  font-size: 28px;
  letter-spacing: 0.5px;
}

.form-fields {
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}

.form-fields input,
.form-fields textarea {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
  width: 100%
}

.form-fields textarea {
  height: 150px;
  resize: none;
}

.form-group {
  width: 46%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.form-fields .form-group:last-child {
  width: 96%;
}

.submit-button {
  width: 96%;
  height: 60px;
  margin: 0px 12px;
  border-radius: 30px;
  font-size: 20px;
  ;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  background: #F44770;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
}

.submit-button:hover {
  background: #31279d;
}


/* Responsive css */

@media only screen and (max-width: 767px) {
  .box-wrapper {
    width: 100%;
  }

  .info-wrap,
  .form-wrap {
    width: 100%;
    height: inherit;
    float: none;
  }

  .info-wrap {
    border-radius: 30px 30px 0px 0px;
  }

  .form-wrap {
    border-radius: 0px 0px 30px 30px;
  }

  .form-group {
    width: 100%;
    float: none;
    margin: 25px 0px;
  }

  .form-fields .form-group:last-child,
  .submit-button {
    width: 100%;
  }

  .submit-button {
    margin: 10px 0px;
  }

}